{% extends 'user/basic.html' %}

{% block title %} 
{{product.product_name}} 
{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        <a href="/user/"><button class="btn btn-primary mt-2 mx-3">Continue</button></a>
        <a href="/user/checkout"><button class="btn btn-primary mt-2 mx-3">Checkout</button></a>
        
    </div>
</div>    
<div class="container">
   
    <div class="row">

          <div class="col-lg-9 col-md-6 mb-4 my-2">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/media/{{product.image}}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">{{product.product_name}}</a>
                </h4>
                <h5>{{product.price}}</h5>
                <p class="card-text">{{product.desc}}</p>
              </div>
              <div class="card-footer">
                    <button class="btn btn-primary mx-1">125 gms</button>
                    <button class="btn btn-primary mx-1">250 gms</button>
                    <button class="btn btn-primary mx-1">500 gms</button>
                    <button class="btn btn-primary mx-1">1 kg</button>
              </div>
              
              
          </div>
</div>




{% endblock %}

